[package]
name = "fieri"
version = "0.1.0"
edition = "2021"
authors = [ "Lachezar Kolev <lachezarkolevgg@gmail.com>" ]
rust-version = "1.65.0"
description = "Unofficial Rust client for the OpenAI API."
documentation = "https://docs.rs/fieri"
readme = "README.md"
homepage = "https://docs.rs/fieri"
repository = "https://github.com/lbkolev/fieri"
keyword = ["openai", "rest-client"]
categories = ["api-bindings"]
license = "MIT"

[dependencies]
tokio           = { version = "1.23.0",  features = ["full"]}
reqwest         = { version = "0.11.13", features = ["json", "multipart"]}
url             = { version = "2.3.1"   }
serde           = { version = "1.0.151", features = ["derive"]}
serde_json      = { version = "1.0.89"  }
thiserror       = { version = "1.0.37"  }
derive-getters  = { version = "0.2.0"   }

[[example]]
name = "get_models"
path = "examples/get_models.rs"

[[example]]
name = "generate_image"
path = "examples/generate_image.rs"